* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
    color: #060A24;    
}

/* -------------------------------------------------------------------------------------------------------------------------------*/
/* Sección selectores genérales                                                                                                   */
/* -------------------------------------------------------------------------------------------------------------------------------*/
body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 16px;    
    max-width: 1350px;
}

.link {
    background-color: #00F3BB;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    border-radius: 5px;
    text-transform: uppercase;
}

.link:hover {
    background-image: linear-gradient(225deg, #0000a3 0%, #00F0B8 100%);
    color: white;   
}

h2 {
    font-size: 48px;
    margin: 30px 200px;
}

.h2-color {
    color: white;
}

p {
    line-height: 1.5;
    margin: 15px 0;
}
/* -------------------------------------------------------------------------------------------------------------------------------*/
/* Sección barra de navegación                                                                                                    */
/* -------------------------------------------------------------------------------------------------------------------------------*/
header::before {
    content: "";
    display: block;
    margin-bottom: 80px;
}

.nav-section {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0px;
    z-index: 100;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;    
}

nav section .logo {
    width: 36px;
    height: 36px;
}

.navbar .logo .img {
    width: 100%;
}

.links-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-link {
    text-decoration: none;
    padding: 0 15px;
    text-transform: uppercase;
}

.nav-link:hover {
    color: #00F3BB;
    text-decoration: line-through;
}

.nav-link:active {
    color: #060A2456;
  }

.hamburguer {
    display: none;
    width: 18px;
    height: 12px;
    cursor: pointer;
}
/* -------------------------------------------------------------------------------------------------------------------------------*/
/* Sección Hello                                                                                                                  */
/* -------------------------------------------------------------------------------------------------------------------------------*/

.hello-div {     
    width: 100%;    
    height: 220px;    
    margin-top: 3.1%;
}

main .hello-div .hello-section {
    width: 750px;
    display: block;
    text-align: left;
    margin-left: 200px;
}

.hello-div .hello-h1 {
    font-size: 64px;
}

.hello-div .hello-section .hello-p {
    margin-bottom: 50px;
}
/* -------------------------------------------------------------------------------------------------------------------------------*/
/* Sección episodios                                                                                                              */
/* -------------------------------------------------------------------------------------------------------------------------------*/

.episodios-div {
    background-image: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
    transform: skew(0deg, -6deg);
    margin: 100px 0;
}

.episodios-div .section-episodios {
   padding: 100px 0;
   transform: skew(0deg, 6deg);
}

.episodios-div .section-episodios .img-episodios {
    height: 520px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: space-between;
}

.episodios-div .img-normal {
    padding: 0 30px;
}

.episodios-div .img-small {
    display: none;
}
/* -------------------------------------------------------------------------------------------------------------------------------*/
/* Sección nosotros                                                                                                               */
/* -------------------------------------------------------------------------------------------------------------------------------*/

.nosotros-div .nosotros-section {
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.nosotros-div .nosotros-section .img-div {
    width: 40%;
    height: 90%;
}

.nosotros-div .nosotros-section .img-div>img {
    width: 90%;
    position: relative;
    top: -180px;
    left: 50px;
}

.nosotros-div .nosotros-section .article-nosotros {
    width: 40%;
    height: 90%;
    margin: 50px;
}

.nosotros-div .nosotros-section .article-nosotros .nosotros-h2 {
    margin: 20px 0;
}
/* -------------------------------------------------------------------------------------------------------------------------------*/
/* Sección entrevistas                                                                                                            */
/* -------------------------------------------------------------------------------------------------------------------------------*/

.entrevistas-div {
    margin-top: 20px;
}

.entrevistas-div .img-entrevistas-container {
    display: flex;
    flex-flow: row wrap;
}

.entrevistas-div .img-entrevistas {
    width: calc(100%/3);
}
/* -------------------------------------------------------------------------------------------------------------------------------*/
/* Sección tópicos                                                                                                                */
/* -------------------------------------------------------------------------------------------------------------------------------*/

.topicos-div .article-div {
    margin: 100px 250px;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
}

.topicos-div .topico {
    width: 120px;
    height: 160px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: bold;
}

.topicos-div img {
    margin-bottom: 15px;
}

/* -------------------------------------------------------------------------------------------------------------------------------*/
/* Sección novedades                                                                                                              */
/* -------------------------------------------------------------------------------------------------------------------------------*/

.novedades-div {
    width: 100%;
    height: 450px;
    position: relative;
    top: 71px;
    background-image: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
    transform: skewY(-6deg);
}

.novedades-div .novedades-section {
    display: block;
    text-align: center;
    line-height: 4.5em;
    padding-top: 100px;
    transform: skewY(6deg);
}
/* -------------------------------------------------------------------------------------------------------------------------------*/
/* Sección footer                                                                                                                 */
/* -------------------------------------------------------------------------------------------------------------------------------*/
footer {
    width: 100%;
    height: 142px;
    z-index: 100;
    background-color: white;
    position: relative;
    /* bottom: -62px; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px; 
}

footer .redes-sociales i {
    display: inline;
    margin: 0 10px;
    cursor: pointer;
    font-size: 20px;
}